@import '../../scss/index.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 90px 30px;
  & > h2 {
    @include title-h2-dark;
  }

  & > p {
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 300;
    color: #090808;
    text-align: center;
    margin-left: 0px;
    margin-top: 20px;
  }

  .servicesList {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(255px, max(255px, 50%)), 255px)
    );
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    margin-top: 90px;
  }
}
