@import '../../scss/index.scss';
.infoWrap {
  background-color: #313131;

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(255px, max(255px, 50%)), 255px)
    );
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
  }

  & h3 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    line-height: normal;
  }

  & p {
    @include text;
    color: #fefefe;
    text-align: left;
    margin-left: 0;
    margin-top: 30px;
  }

  & ul {
    margin-top: 30px;
  }
  & li {
    font-size: 16px;

    margin-left: 0;
    font-weight: 300;
    line-height: 24px;
  }
  & a {
    color: #fefefe;
    &:hover {
      color: #ffb607;
    }
  }

  & form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    margin: 0 0 0 auto;
    background-color: transparent;
    border-bottom: 1px solid #ffff;

    .formWrap {
      width: 100%;

      .input {
        width: 100%;
        background-color: transparent;
        border: none;
        appearance: none;
        overflow: hidden;
        font-size: 18px;
        padding: 0 15px 10px 0;
      }
    }

    .buttonSubmit {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;
      color: #fff;
      background-color: transparent;
      text-transform: uppercase;
      border: none;
    }
  }
}
