.container {
  position: relative;
  margin-top: 100px;

  .controller {
    background-color: black;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    padding: 30px 0;
    cursor: pointer;
    & > * {
      margin: 0 auto;
      display: block;
      fill: white;
      stroke: white;
      width: 18px;
    }
  }

  .controllerPrev {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 99;
  }

  .controllerNext {
    position: absolute;
    top: 50%;
    right: 20px;
  }
}
