@import '../../scss/index.scss';
.container {
  width: 100%;
  max-width: 700px;
  float: left;
  border: 1px solid #000;
  padding: 17px;
  display: flex;
  flex-direction: row;

  .image {
    position: relative;
    width: 100%;
    height: max-content;
    & > img {
      width: 100%;
    }
  }
  .icon {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(50%, -50%);
    rotate: 180deg;
    & > svg {
      fill: #fabc26;
    }
  }
  .textWrap {
    margin-left: 30px;
    & > h3 {
      font-size: 20px;
      color: #191919;
      text-transform: uppercase;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0;
    }

    & > p {
      @include text;
      margin-top: 10px;
    }
  }
}
