@import 'scss';

.furnitureItem {
  width: 100%;
  &:not(:last-child) {
    margin-right: 30px;
    @media screen and (max-width: $size-m) {
      margin-right: 0px;
    }
  }

  & > h4 {
    font-size: 18px;
    color: #fabb25;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;

    @media screen and (max-width: $size-m) {
      text-align: center;
    }
  }

  & > p {
    font-size: 18px;
    color: #121111;
    margin-top: 10px;
    font-weight: 300;
    line-height: 24px;

    @media screen and (max-width: $size-m) {
      text-align: center;
    }
  }
}
